@font-face {
  font-family: "Open Sans";
  src: url('./OpenSansCondensed-Bold.ttf');
    font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url('./OpenSansCondensed-Light.ttf');
}
@font-face {
  font-family: "Open Sans";
  src: url('./OpenSansCondensed-LightItalic.ttf');
}